.container{
    margin: 0;
    padding: 0;
    overflow-x: none;
}
#islamia{
    font-size: 30px;
}
#creating{
    font-size: 15px;
}
.navbar{
    background-color: rgb(157, 141, 141);
    height: 40px;
    width: 100%;
    text-align: right;
    justify-content: center;
  }
  .list, a{
    display: flex;
    padding: 5px;
    gap:50px ;
    color: rgb(238, 230, 230);
    font-weight: bold;
    text-decoration: none;
    list-style: none;
  }
  .history{
    height: 350px;
    width: 1100px;
    line-height: 1.5;
  }
  .heading, .paragraph{
    margin: 0px;
  }
  .pages{
    height: 300px;
    width: 400px;
    margin-left: 200px;
    color: black;
  }
  .twodivs{
    display: flex;
  }
  .ourpages{
    height: 350px;
    width: 400px;
    margin-left: 150px;
    color: black;
  }
.ourpages{
  background-color: rgb(252, 248, 248);
}
.lists,a{
  color: rgb(3, 2, 5);
  list-style: none;
}
.aboutus{
  margin-left: 40px;
}
.aboutP{
  margin: 10px;
  margin-left: 40px;
}
.following, a{
 line-height: 0.5;
}
.fourdivs{
  display: flex;
  height: 200px;
  width: 100%;
  gap: 60px;
  background-color: rgb(157, 141, 141);
}
.label{
  margin: 10px;
  height: 190px;
  width: 250px;
  gap: 50px;
}
